parameters:
    paths:
        - app
        - src
        - tests

    excludePaths:
        analyse:
            - %currentWorkingDirectory%/vendor/*
            - !%currentWorkingDirectory%/vendor/swoole/ide-helper/*

    scanDirectories:
        - %currentWorkingDirectory%/vendor/swoole/ide-helper