parameters:
    paths:
        - app
        - src
        - tests

    excludePaths:
        analyse:
            - vendor/*
            - !vendor/swoole/ide-helper/*

    scanDirectories:
        - vendor/swoole/ide-helper